src/*.exe
src/WayaWolfCoin
src/WayaWolfCoind
src/test_WayaWolfCoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.autosave
.WayaWolfCoin
#compilation and Qt preprocessor part
*.qm
Makefile
WayaWolfCoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build
.qmake.stash

!src/leveldb/Makefile
